# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

notes/.obsidian/workspace.json
notes/.obsidian/graph.json
notes/.obsidian/workspace.json
notes/.obsidian/plugins/**/*.js
notes/.obsidian/plugins/**/*.css
notes/.obsidian/plugins/**/manifest.json
notes/.obsidian/plugins/**/data.json
notes/.obsidian/themes/**/*.css

notes/embed

src/assets/notes
src/content/docs/notes
public/notes
.frontmatter
frontmatter.json
**/.DS_Store
**/.stfolder