@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply prose mx-auto max-w-screen-md p-6 dark:prose-invert;
  }

  html {
    @apply prose prose-neutral mx-auto max-w-none font-["NewsreaderVariable"] font-normal md:prose-lg lg:prose-xl;
    @apply bg-neutral-100;
    @apply dark:prose-invert dark:bg-neutral-800 dark:font-medium;
    @apply hover:prose-a:text-lime-700 dark:hover:prose-a:text-lime-300;
    @apply prose-blockquote:prose-base prose-blockquote:font-normal;
    @apply prose-code:font-normal prose-code:text-lime-700 dark:prose-code:text-lime-300;
  }
  body {
    @apply mx-auto box-content max-w-6xl overflow-x-hidden px-4 py-6;
  }
}

@layer components {
  img {
    @apply mx-auto my-0 block max-h-96 max-w-full rounded;
  }

  cite {
    @apply block w-full pt-4 text-right italic;
  }
  cite > a {
    @apply font-normal not-italic;
  }
  cite:before {
    content: "― ";
  }
  /* a {
    @apply cursor-pointer font-semibold  text-lime-700 no-underline;
    @apply hover:bg-yellow-100 hover:text-neutral-800 focus:bg-yellow-100 focus:text-neutral-800;
    @apply dark:text-lime-300 dark:hover:bg-yellow-400 dark:hover:text-neutral-600 dark:focus:bg-yellow-400 dark:focus:text-neutral-600;
  } */
  a.new {
    @apply underline decoration-dashed;
  }

  article a:not(.internal) {
    @apply underline decoration-double;
  }
  article > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::after,
  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: "";
  }
  blockquote p:first-of-type::before,
  blockquote p:first-of-type::after {
    content: "";
  }
  mark {
    @apply rounded-sm bg-lime-300 px-1 py-[0.15rem];
  }
}
