@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply max-w-screen-md mx-auto p-6 prose dark:prose-invert;
  }

  html {
    @apply font-normal font-["NewsreaderVariable"] prose md:prose-lg lg:prose-xl prose-neutral max-w-none mx-auto;
    @apply bg-neutral-50 prose-headings:text-lime-700;
    @apply dark:prose-invert dark:font-medium dark:bg-neutral-800 dark:prose-headings:text-lime-300;
  }
  body {
    @apply box-content px-4 py-6 overflow-x-hidden mx-auto max-w-6xl;
  }
}

@layer components {
  img {
    @apply max-w-full block mx-auto my-0 max-h-96 rounded;
  }

  /* blockquote {
    @apply px-6 py-4 m-0 font-light  bg-neutral-100 dark:bg-neutral-700 rounded;
  }
  blockquote > p {
    @apply p-0;
  }

  cite {
    @apply block w-full text-right mt-5 italic font-normal text-lime-700 dark:text-lime-300;
  }
  cite > a {
    @apply font-normal;
  }
  cite:before {
    content: "― ";
  } */
  a {
    @apply no-underline font-semibold  text-lime-700 cursor-pointer;
    @apply hover:text-neutral-800 focus:text-neutral-800 hover:bg-yellow-100 focus:bg-yellow-100;
    @apply dark:text-lime-300 dark:hover:bg-yellow-400 dark:focus:bg-yellow-400 dark:hover:text-neutral-600 dark:focus:text-neutral-600;
  }
  a.new {
    @apply underline decoration-dashed;
  }

  article a:not(.internal) {
    @apply underline decoration-double;
  }
  article > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}
