---
const today = new Date();
---

<footer>
  Made with 💚 by <a href='https://www.caro.fyi'>Caro</a>, content licensed under CC-BY-SA <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/"><img class='inline' alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/2.0/80x15.png" /><span class='sr-only'>Creative Commons Attribution-ShareAlike 2.0 Generic License</span></a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
